{% extends "base.html" %}

{% block content %}
<div class="card">

    <div class="inline-style-145" >
        <h1>📂 Danh Mục Thể Loại</h1>

        <a href="/phim/theloai/them" class="btn">
            + Thêm Thể Loại
        </a>
    </div>

    {% if ds_the_loai %}
    <table>
        <thead>
            <tr>
                <th>Mã</th>
                <th>Tên Thể Loại</th>
            </tr>
        </thead>

        <tbody>
            {% for tl in ds_the_loai %}
            <tr>
                <td>{{ tl.MaTheLoai }}</td>
                <td>{{ tl.TenTheLoai }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p class="inline-style-146" >
        Chưa có thể loại nào.
    </p>
    {% endif %}

</div>
{% endblock %}
